@model Int32

<td style="width:150px">
    <div class="btn-group" role="group">
        <a class="btn btn-warning text-white" asp-action="Edit" asp-route-Id="@Model">
            <i class="fas fa-edit" aria-hidden="true"></i></a>
        <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@Model">
            <i class="fa fa-trash" aria-hidden="true"></i>


        </a>
        <a class="btn btn-info text-white" asp-action="Details" asp-route-Id="@Model">
            <i class="fa fa-info-circle" aria-hidden="true"></i>

        </a>

    </div>

</td>